@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/Raleway/Raleway-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --color-Sam: #0e704d;
  --color-Sams: #99d051;

  --font-raleway: "Raleway", sans-serif;
}

/* Transiciones de color para dark/light mode */
html, body {
  background-color: #f8f9fa; /* fondo gris claro suave */
  color: #1e293b; /* slate-800 */
  transition-property: color, background-color, border-color;
  transition-duration: 300ms;
  font-family: "Raleway", sans-serif;
}

html.dark, html.dark body {
  background-color: #0f172a; /* slate-900 */
  color: #f8fafc; /* slate-50 */
}
