@import "tailwindcss";

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/Raleway/Raleway-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --color-Sam: #0e704d;
  --font-raleway: "Raleway", sans-serif;
}
